styles.css
body {
    background-color: rgba(48, 47, 47, 0.5);
  }
  h1 {
    color: white;
  }
  #home {
   
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  
  #home-box {
    background-color: rgb(255, 251, 251);
  }
 

  h2 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: whitesmoke;
    font-size: 50px;
  }
  
  #intro {
    font-family: "Roboto", serif;
    font-weight: 400;
    color: rgb(210, 219, 221);
    line-height: 24px;
    font-size: 20px;
    font-weight: 200;
  }
  
  .card {
    padding: 0;
    overflow-y: hidden;
  }
  footer {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 20px 0;
  }
  footer div i {
    color: rgb(25, 24, 24);
    font-size: x-large;
    margin: 0 10px;
  }